docker>=3.4.1
notebook>=5.6.0
kubernetes>=10.0.1
future>=0.17.1
six>=1.11.0
google-cloud-storage>=1.13.2
requests>=2.21.0
setuptools>=34.0.0
google-auth>=1.6.2
httplib2>=0.12.0
oauth2client>=4.0.0
tornado>=6.0.1
google-api-python-client>=1.7.8
cloudpickle>=0.8
numpy>=1.14
urllib3==1.24.2
boto3>=1.9.0
azure>=4.0.0
